body {
  padding-top: 70px;
  background-color: #E0F3FF
}

a {
  cursor: pointer;
}

.tab-pane {
  padding-top: 15px;
}

.angular-google-map-container {
  height: 375px;
}

/* Additional custom changes in the CSS */
.navbar-default {
  background-color: #0f3a4a ;
  border-color:#0f3a4a ;
}

.navbar-default .navbar-nav>li>a {
  color: goldenrod;
}

.navbar-default .navbar-brand {
  color: goldenrod;
}

.navbar-default .navbar-nav>li>a:hover {
  color: whitesmoke;
}

.navbar-default .navbar-brand:hover {
  color: whitesmoke;
}

.form-control {
  width: 80%;
}

#msgbox {
  background-color: #E0F3FF
}