<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Valtra Device Management</h1>
      <hr>
      <p class="lead text-center">
        Administrator Sign In
      </p>
      <form name="loginForm" novalidate>
        <div class="form-group" ng-class="{'has-error': (loginForm.username.$touched||loginForm.$submitted) && loginForm.username.$error.required}">
          <label for="username">Username</label>
          <input ng-model="username" class="form-control" id="username" name="username" required type="text">
        </div>
        <div class="form-group" ng-class="{'has-error': (loginForm.password.$touched||loginForm.$submitted) && loginForm.password.$error.required}">
          <label for="password">Password</label>
          <input class="form-control" id="password" name="password" ng-model="password" required type="password">
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <button ng-click="doLogin(username, password)" class="btn btn-primary" type="submit" ng-class="{'disabled': loginForm.$invalid}">
            <span>Sign In</span>
          </button>
        </div>
      </form>
      <hr>
      <p class="text-center">
        <a href="http://www.valtra.com/" target="_blank">Valtra project</a>
      </p>
    </div>
  </div>
</div>
